<section class="team-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h3 class="display-3">Past industry projects</h3>
        <p class="lead">
          In the carousel below, you can find some (admittedly vague) details about past
          industry projects I have participated in!
        </p>
      </div>
    </div>
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide carousel-team">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/promoters.png' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h3 class="card-title display-3">Computationally designed promoters for pig humanization</h3>
                    <div class="lead">
                      I computationally designed promoters to drive pig pan-tissue transgene expression
                      by identifying pan-expressed genes, generating synthetic promoters using the
                      identified sequences, and testing their activity. We initially believed the original promoters
                      were failing due to gene silencing, but I demonstrated through experimental and computational
                      analyses that our promoters were tissue-specific, counter prior beliefs. 
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">RNA-seq/ATAC-seq/PHASTcons</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="footer text-left">
                      <a href="https://www.nature.com/articles/s41586-023-06594-4" target="_blank" class="btn btn-primary btn-sm ml-2">
                        <i class="ni ni-books"></i> Read the paper
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/lucy.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Analyses of Cellular Programming in Aging</h1>
                    <div class="lead">
                      As a Sr Computational Biologist at Altos Labs, I led a matrixed team of 4 wet-lab scientists
                      to perform translational studies of cellular programming. I developed computational pipelines
                      to study the mechanism of action of our molecule of interest, I designed experiments to test
                      our hypotheses and oversaw their execution.
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Tool development</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Cross-functional leadership</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/willy-dade.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Multimodal AI initiatives</h1>
                    <div class="lead">
                      I conceptualized and led the formation of a cross-functional team to develop
                      multimodal machine learning models at Altos Labs. I led a matrixed team
                      to develop ML models, collect training data, and develop experimental methods
                      for data collection.
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Cross-functional leadership</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">AI/ML development</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="ni ni-bold-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="ni ni-bold-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>