<div class="team-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">Academic Projects and Papers</h3>
        <h4 class="lead">Before I was an industry scientist, I was an academic. Nowadays, I still maintain a vigorous research
          program through volunteer activities. A number of these volunteer activities have resulted in academic publications.
          Below is a subset of projects I have participated in that I am particularly proud of.
      </h4>
      </div>
    </div>
    <div class="row">

      <!-- transcriptomes as phenotypes -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
                <img class="img rounded" src="{{ '/assets/img/pnas_image.png' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Study of pathways via transcriptomes</h4>
            <p class="lead">Caltech</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">RNA-seq</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Computational method development</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Interdisciplinary collaboration</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <a href="https://www.pnas.org/doi/full/10.1073/pnas.1712387115" target="_blank" class="btn btn-primary btn-sm ml-2">
              <i class="ni ni-books"></i> Read the paper
            </a>
      
          </div>
        </div>
      </div>

      <!-- microbiome MIT paper -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
                <img class="img rounded" src="{{ '/assets/img/ai_generated/oceanome.jpeg' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Sea microbiome dynamics</h4>
            <p class="lead">MIT</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Oceanography research</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Computational method development</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Bacterial dynamics</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <a href="https://academic.oup.com/ismej/article/18/1/wrad013/7513092" target="_blank" class="btn btn-primary btn-sm ml-2">
              <i class="ni ni-books"></i> Read the paper
            </a>
          </div>
        </div>
      </div>

      <!-- UCSF stentor paper -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
                <img class="img rounded" src="{{ '/assets/img/stentor_cut_in_half.png' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Half-cell RNA-seq</h4>
            <p class="lead">Volunteer, UCSF</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Creative use of RNA-seq</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Computational methods development</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Non-model organism biology</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9882060/" target="_blank" class="btn btn-primary btn-sm ml-2">
              <i class="ni ni-books"></i> Read the paper
            </a>

          </div>
        </div>
      </div>

      <!-- female state paper -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
                <img class="img rounded" src="{{ '/assets/img/female_worm.png' | relative_url }}">

            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Post-adulthood development</h4>
            <p class="lead">Caltech</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">RNA-seq</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Developmental Biology</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Computational method application</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <a href="https://academic.oup.com/g3journal/article/7/9/2969/6027594" target="_blank" class="btn btn-primary btn-sm ml-2">
              <i class="ni ni-books"></i> Read the paper
            </a>

          </div>
        </div>
      </div>

      <!-- stowers flatworm paper -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
                <img class="img rounded" src="{{ '/assets/img/discovery.png' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Discovery of a new animal</h4>
            <p class="lead">Volunteer, Stowers Institute</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Field Biology</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Phylogenetics and taxonomy</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Regeneration biology</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <a href="https://www.sciencedirect.com/science/article/pii/S0012160622001129" target="_blank" class="btn btn-primary btn-sm ml-2">
              <i class="ni ni-books"></i> Read the paper
            </a>

          </div>
        </div>
      </div>

      <!-- northwestern pheromone paper 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
                <img class="img rounded" src="{{ '/assets/img/ai_generated/balanced_choice.jpeg' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Reproductive choice balancing</h4>
            <p class="lead">Volunteer, Northwestern</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Longevity research</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Reproductive biology</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Nematode studies</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <a href="https://academic.oup.com/mbe/article/40/6/msad119/7175057" target="_blank" class="btn btn-primary btn-sm ml-2">
              <i class="ni ni-books"></i> Read the paper
            </a>

          </div>
        </div>
      </div>

      <!-- caltech bacterial genetics paper -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
                <img class="img rounded" src="{{ '/assets/img/pseudomonas.jpeg' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Genetics of a bacterial pathogen</h4>
            <p class="lead">Caltech</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Bacterial genetics</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Computational method development</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Translationally relevant research</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <a href="https://www.pnas.org/doi/abs/10.1073/pnas.1912082117" target="_blank" class="btn btn-primary btn-sm ml-2">
              <i class="ni ni-books"></i> Read the paper
            </a>

          </div>
        </div>
      </div>

      <!-- TEA paper -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
                <img class="img rounded" src="{{ '/assets/img/ai_generated/tea.jpeg' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Tools for enrichment analyses</h4>
            <p class="lead">Caltech</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Computational method development</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Gene ontology research</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Database integration</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <a href="https://link.springer.com/article/10.1186/s12859-016-1229-9" target="_blank" class="btn btn-primary btn-sm ml-2">
              <i class="ni ni-books"></i> Read the paper
            </a>

          </div>
        </div>
      </div>

      <!-- caltech mediator paper -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
                <img class="img rounded" src="{{ '/assets/img/mediator_fig.png' | relative_url }}">
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Advanced genetics using RNA-seq</h4>
            <p class="lead">Caltech</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Computational method development</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Allelic series analyses</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Mediator complex</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <a href="https://academic.oup.com/genetics/article/210/1/15/6087923" target="_blank" class="btn btn-primary btn-sm ml-2">
              <i class="ni ni-books"></i> Read the paper
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>