deprecated/
*.ipynb
data/
__pychache__/
*.pyc
jupyter/.ipynb_checkpoints/
*.nbconvert.ipynb
data/
.ipynb*
_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json

_posts/.Rhistory
dangeles.github.io.code-workspace
