<div class="contactus-3 fullWidth">
  <div class="page-header">
    <img class="bg-image" src="{{ '/assets/img/sections/winter_wonderland.jpeg' | relative_url }}" alt="">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h1 class="display-1" style="color: #FFD700;">Get in touch</h1>
        <!-- <h3 class="display-2" style="color: #FFD700; font-weight: bold;">Let's chat</h3> -->
        <button class="btn btn-icon btn-primary mt-3" type="button">
          <span class="btn-inner--icon"><i class="ni ni-chat-round"></i></span>
          <span class="btn-inner--text">
            <a class="text-white" href="mailto:davidangelesalbores@gmail.com">Email me</a>
          </span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-email-83"></i>
          </div>
          <h4 class="info-title">Email</h4>
          <p class="description px-0">
            <a href="mailto:davidangelesalbores@gmail.com">davidangelesalbores@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-world"></i>
          </div>
          <h4 class="info-title">LinkedIn</h4>
          <p class="description px-0">
            <a href="https://www.linkedin.com/in/dangelesgenetics/" target="_blank">linkedin.com/in/dangelesgenetics</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-single-02"></i>
          </div>
          <h4 class="info-title">GitHub</h4>
          <p class="description px-0">
            <a href="https://github.com/dangeles" target="_blank">github.com/dangeles</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>